/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
*, *:before, *:after {
    /* Firexfox */
    -moz-box-sizing: border-box;    
    /* Safari/Chrome/iOS/Android */
    -webkit-box-sizing: border-box;       
    /* IE */      
    box-sizing: border-box;                     
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
    margin: 0;
    font-size: 0.75rem;     /* 12px */
    font-family: 'Lato', sans-serif;
}

/******************************************
/* LAYOUT
/*******************************************/

.main {
    width: 90%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 1.375rem;    /* 22px */
    color: #1c4123;
    text-transform: uppercase;
    word-spacing: 0.2em;
    line-height: 1.5em;
    margin: 20px 0 5px;
}

ul {                                       /* collection of li individual images*/
    display: flex;
    flex-flow: row wrap;                   /* flex-direction: row; flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    padding-left: 0;
}

li {
    list-style: none;
    display: flex;
    flex-direction: row;
}

li img {
    width: 150px;
    height: 150px;
    padding: 5px;
    cursor: pointer; 
}

#map {
    height: 360px;
    margin: 0.625rem;       /* 10px */
}

/******************************************
/* RESPONSIVE DESIGN - 600px
/*******************************************/

@media (min-width: 600px) {

    h1 {
        font-size: 28px;
        margin-top: 2rem;
    }

    li img {
        width: 150px;
        height: 150px;
        padding: 0.625rem;
    }

    #map {
        height: 425px;
        margin: 0 3rem;
    }
}

/******************************************
/* RESPONSIVE DESIGN - 960px
/*******************************************/

@media (min-width: 960px) {

    h1 {
        font-size: 3.125rem;
        margin-top: 2.5rem;
    }

    ul {
        margin: 20px 0;
    }

    li img {
        width: 230px;
        height: 230px;
        padding: 10px;
    }

    #map {
        height: 600px;
        margin: 0 100px;
    }
}

/******************************************
/* RESPONSIVE DESIGN - 1280px
/*******************************************/

@media (min-width: 1280px) {
    
    h1 {
        font-size: 3.75rem;
        margin-top: 3.125rem;
    }

    ul {
        margin: 20px 140px;
    }

    li img {
        width: 260px;
        height: 260px;
    }

    #map {
        height: 625px;
        margin: 3.125rem 5rem 3.125rem 5rem;
    }
}

/******************************************
/* RESPONSIVE DESIGN - 1920px
/*******************************************/

@media (min-width: 1920px) {
    
    h1 {
        font-size: 4.375rem;
        margin-top: 3.125rem;
    }

    .container {
        display: flex;
        flex-direction: row;
    }

    ul {
        width: 50%;
        margin: 20px 0;
        align-content: center;
    }

    li img {
        width: 200px;
        height: 200px;
    }

    #map {
        height: 580px;
        width: 50%;
    }
}