/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
*, *:before, *:after {
    -moz-box-sizing: border-box;                /* Firexfox */
    -webkit-box-sizing: border-box;             /* Safari/Chrome/iOS/Android */
    box-sizing: border-box;                     /* IE */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
    margin: 0;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
}

/******************************************
/* LAYOUT
/*******************************************/

h1 {
    text-align: center;
    font-size: 22px;
    color: #1c4123;
    text-transform: uppercase;
    word-spacing: 0.2em;
    line-height: 1.5em;
    margin-top: 14px;
    margin-bottom: 5px;
}

ul {                                       /* collection of li individual images*/
    display: flex;
    flex-flow: row wrap;                   /* flex-direction: row; flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    padding-left: 0;
    margin: 0;
}

li {
    list-style: none;
    display: flex;
    flex-direction: row;
}

img {
    width: 120px;
    height: 120px;
    padding: 2px;
    cursor: pointer; 
}

#map {
    height: 380px;
    margin: 10px;
}

/******************************************
/* RESPONSIVE DESIGN - iPad 768px
/*******************************************/

@media (min-width: 768px) {

    h1 {
        font-size: 30px;
        margin-top: 30px;
    }

    ul {
        margin: 15px 60px;
    }

    img {
        width: 170px;
        height: 170px;
        padding: 5px;
    }

    #map {
        margin: 0 60px;
    }
}

/******************************************
/* RESPONSIVE DESIGN - iPad Pro 1024px
/*******************************************/

@media (min-width: 1024px) {

    h1 {
        font-size: 50px;
        margin-top: 40px;
    }

    ul {
        margin: 30px 200px;
    }

    img {
        width: 200px;
        height: 200px;
        padding: 10px;
    }

    #map {
        height: 560px;
        margin: 0 100px;
    }
}

/******************************************
/* RESPONSIVE DESIGN - 1680px
/*******************************************/

@media (min-width: 1620px) {
    
    h1 {
        font-size: 60px;
        margin-top: 50px;
    }

    ul {
        margin: 30px 50px;
    }

    img {
        width: 150px;
        height: 150px;
    }

    #map {
        height: 560px;
    }
}

/******************************************
/* RESPONSIVE DESIGN - 2560px
/*******************************************/

@media (min-width: 2560px) {
    
    h1 {
        font-size: 70px;
        margin-top: 60px;
    }

    img {
        width: 400px;
        height: 400px;
    }

    #map {
        height: 1000px;
    }
}